<div class="container ">
    <div class="row">
        <div class="col text-center">
            <img src="img/foto.jpg" alt="foto" class="img-thumbnail rounded-circle mt-3" width="200px">
            <h1 class="display-4">Maulana Anjari Anggorokasih</h1>
            <p class="lead">Mahasiswa UGM</p>
        </div>
    </div>
</div>