<h1><%= title %></h1>
<h2>Form Add New Contact</h2>
<% if (typeof errors != "undefined") { %>
    <div class="alert alert-danger" role="alert">
        <ul>
            <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    </div>
<% } %>
<form action="/contact" method="post">
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="name" name="name" required>
                <label for="name">Full Name</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="number" placeholder="number" name="number" required>
                <label for="number">Number Phone</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="email" name="email" required>
                <label for="email">Email</label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Contact</button>
</form>